[user]
	name = Flávio Caetano
	email = caetano@work.co
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIE1OND/hRaIAN2rj4wf+ccb2eRvX/0woA+SVurnGG4kF
[push]
	default = simple
	tool = opendiff
[merge]
	tool = opendiff
	conflictstyle = diff3
[core]
	editor = nano
	ignore = case
	ignorecase = false
	excludesfile = ~/.gitignore_global

[credential]
	helper = osxkeychain
[rebase]
	autosquash = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[url "git@github-pvt:fjcaetano/"]
	insteadOf = https://github.com/fjcaetano/
