[user]
        name = Flávio Caetano
        email = caetano@work.co
[push]
	default = simple
	tool = opendiff
[merge]
	tool = opendiff
[core]
	editor = nano

[credential]
	helper = osxkeychain
[gpg]
	program = gpg2
